/*tablet*/

@media screen and (min-width: 768px) {



    #topbar {
        padding: 30px 30px;
        display: flex;
        justify-content: flex-start;

    }

    main {
        padding: 40px;
    }

    .recipe-title {
        position: relative;
    }

    .recipe-origin {
        display: block;
        position: absolute;
        left: 130px;
        bottom: 0.5px;

    }

    .recipe-name,
    .recipe-origin {
        font-size: 30px;
    }

    .quick-notes {

        display: flex;
        flex-wrap: wrap;
        gap: 20px;

    }



    .btn {
        width: 200px;
    }

    .ads {
        display: block;
    }

    .presentation img {
        float: left;
        margin-right: 15px;
    }

}