/*tablet*/

@media screen and (min-width: 768px) {
    #topbar {
        display: flex;
        align-items: start;
        justify-content: start;
    }

    main {
        padding: 40px;
    }



    .recipe-category {
        font-size: 20px;

    }

    .recipe-name {
        font-size: 40px;
    }

    .recipe-origin {
        display: block;
    }
}